<header id="siteHeader" [class.solid]="isSolid">
  <div class="wrap">
    <a href="#top" class="logo">
      <img [src]="logo" alt="NF OOH">
    </a>
    <nav id="siteNav" [class.open]="isMenuOpen">
      <ul>
        <li *ngFor="let item of navItems">
          <a [href]="item.href">{{ item.label }}</a>
        </li>
      </ul>
    </nav>
    <div class="nav-cta">
      <a href="#contact" class="btn btn-outline on-dark">Nhận báo giá</a>
      <button class="burger" (click)="toggleMenu()" aria-label="Mở menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>
